 body{
  background-color: pink;
}
/*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
  margin: 20vh auto auto auto;
  padding: 20px 0 0 20px;
  background-color: white;
  width: 30vw;
  height: 60vh;
}
.secondpart{
  margin-top: 15px;
  height: fit-content;
  width:27vw;
}
.border{
  border: black solid 1px;
}
.buttonandinput{
  display: flex;
  justify-content: space-between;
}
.inp{
  width: 11.5vw;
  height:7vh;
}
.but{
  width: 3vw;
  height: 7vh;
  font-size: 20px;
  background-color:white;
  border-color: violet;
  transition-duration: 0.4s;
}
.but:hover{
  background-color:violet;
  
  color: white;
}
.word{
  word-wrap: break-word; 
  margin-top: 10px;
}
.todoshow {
  height: 35vh;
  overflow: auto;
  margin: 10px auto auto auto;
  text-align: justify;  
  padding: 5px;

} */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

.container{
  border: solid 1px #008000;
  width: 500px;
  min-height: 400px;
  padding: 20px;
  margin-inline: auto;
  border-radius: 10px;
  background-color: wheat;
}

.header{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.btn{
  padding: 10px;
  border: none;
  background-color: rgb(122, 68, 221);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}
.btn:hover{
  background-color:rgb(236, 211, 248);;
  color:black;
}

.task{
  background-color: antiquewhite;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  
}

.task h3{
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.no-task{
  margin-left: 15px;
}

.reminder{
  border-left: solid  green;
}

.btn-block{
  width: 100%;
  font-size: large;
}

.form-group{
  padding: 10px;
}
label{
  margin: 5px;
}

.form-group input{
  border: solid #333 1px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 15px;
  border-radius: 10px;
}

.form-group .check{
  display: inline;
}
.check input{
    width: auto;
}
